* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

section {
  padding: 50px 0;
}

.container {
  height: 50px;
  background-color: #4e4e4e;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-name {
  text-decoration: none;
  color: white;
  margin-left: 50px;
}

.nav-links {
  text-decoration: none;
  color: white;
  margin-right: 50px;
}
